.navbar-footer-custom {
    background: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

    .navbar-footer-custom a:focus {
        outline: none;
    }

    .navbar-footer-custom .navbar-brand {
        color: white;
    }

        .navbar-footer-custom .navbar-brand:hover,
        .navbar-footer-custom .navbar-brand:focus,
        .navbar-footer-custom .navbar-brand:active,
        .navbar-footer-custom .navbar-brand.active {
            color: white;
        }

    .navbar-footer-custom .navbar-nav {
        letter-spacing: 1px;
    }

        .navbar-footer-custom .navbar-nav li a {
            color: white;
        }

            .navbar-footer-custom .navbar-nav li a:hover {
                color: #18BC9C;
                outline: none;
            }

            .navbar-footer-custom .navbar-nav li a:focus,
            .navbar-footer-custom .navbar-nav li a:active {
                color: white;
            }

        .navbar-footer-custom .navbar-nav li.active a {
            color: white;
            background: #18BC9C;
            padding: 1px 0;
        }

            .navbar-footer-custom .navbar-nav li.active a:hover,
            .navbar-footer-custom .navbar-nav li.active a:focus,
            .navbar-footer-custom .navbar-nav li.active a:active {
                color: white;
                background: #18BC9C;
            }

    .navbar-footer-custom .navbar-toggle {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        border-color: white;
    }

        .navbar-footer-custom .navbar-toggle:hover,
        .navbar-footer-custom .navbar-toggle:focus {
            background-color: #18BC9C;
            color: white;
            border-color: #18BC9C;
        }

@media (min-width: 768px) {
    .navbar-footer-custom {
        padding: 0px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

        .navbar-footer-custom .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .navbar-footer-custom.affix {
            padding: 10px 0;
        }

            .navbar-footer-custom.affix .navbar-brand {
                font-size: 1.5em;
            }
}

.skillpoint {
    max-width: 26px;
}

.section-header {
    margin-bottom: 28px;
    padding-bottom: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.section-subhead {
    font-size: 1.4em;
}

.section-p {
    font-size: 1.15em;
}

.paragraph-tab {
    text-indent: 50px;
}

.paragraph-tab-half {
    text-indent: 25px;
}

.game-icon {
    padding: 20px;
}

.bio-icons {
    width: 10rem;
}